header{
     background: transparent;
     width: 100%;
     height: 50px;
}
body{
     background-image: url("images.jpeg");
     background-repeat: no-repeat;
     position: fixed;
     background-size: 3000px ;
}
div.galeri {
     margin: 5px;
     margin-top: ;
     margin-right: ;
     border: 3px solid blue;
     float: left; 
     width: 90px ;
     height: 95px;
     border-radius: 10px;
 }

 div.galeri:hover {
     border: 3px solid #777;
     border-radius: 20px;
 }

 div.galeri img {
     margin: 2px 5px;
     padding-right: 5px;
 }

 div.desc {
     padding:0px 0px;
     text-align: left;
     font-size: 14px;
 }
 a{
     margin: 2px;
     border: 3px  solid blue;
     float:left; ;
     width: 90px;
     height: 15px;
     border-radius: 10px;
     padding-left: 5px;
     background: black;
     color: white;
 }
