*{
	padding-left: 0;
	margin: 0;
}
body {
	font-family: verdana,geneva,sans-serif;
	font-size: 18px;
	background-color: #fff;
}
h1{
	text-align: justify;
	margin: 2px 2cm;
}
h2{
	text-align: justify;
}
h3{
	text-align: justify;
	margin: 2px 2cm;
}
h4{
	text-align: justify;
}
p{
	text-align: justify;
	margin: 2px 2cm;
}
header{
	width: 100%;
	background-color: #006faa;
	z-index: 1000;
}
.menu-bar {
	color: #fff;
	font-size: 25px;
	cursor: pointer;
	padding: 10px 12px;
	margin-left: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.menu-bar :hover {
	background-color: rgba(0,0,0,0.1);
	border-radius:50px;
}
#tag-menu:checked ~ div.jw-drawer {
	animation: slide-in 0.5s ease;
	animation-fill-mode: forwards;
}
.jw-drawer {
	position:fixed;
	left:-280px;
	background-color:#006faa;
	height:100%;
	z-index:100;
	width:230px;
	animation: slide-out 0.5s ease;
	animation-fill-mode: forwards;
}

.jw-drawer ul li {
	list-style:none;
}

.jw-drawer ul li a {
	padding:10px 20px;
	text-decoration:none;
	display:block;
	color:#FFF;
	border-top:1px solid #059;
}

.jw-drawer ul li a:hover{
	background-color:rgba(0, 0, 0, 0.1);
}

.jw-drawer ul li a i {
	width:50px;
	height:35px;
	text-align:center;
	padding-top:15px;
}

@keyframes slide-in {
 from {left: -280px;}
 to {left: 0;}
}

@keyframes slide-out {
 from {left: 0;}
 to {left: -280px;}
}


.content{
  padding: 100px 0 0 250px;
}