body {
	background-color: lightblue;
}
a, button,input[type=submit],input[type=reset] {
    font-family: sans-serif;
    font-size: 10px;
    background: ;
    color: black;
    border: black 3px solid;
    border-radius: 20px;
    padding: 5px 10px;
    margin-top: 10px;
}
a {
    text-decoration: none;